@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg: #222831;
    --input-bg: #31363f;
    --text-color: #eeeeee;
    --border-color: #76abae;
}

body {
    background-color: var(--body-bg);
}

textarea {
    background-color: var(--input-bg);
    color: var(--text-color);
}
textarea:focus {
    outline-color: var(--border-color);
}
