@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-1: #0a0a0a;
    --color-2: #221f1f;
    --color-3: #ffb14b;
    --color-4: #eeeeee;
}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    background-color: var(--color-1);
}

textarea {
    background-color: var(--color-2);
    color: var(--color-4);
}
textarea:focus {
    outline-color: var(--color-3);
}

.title-heading {
    color: var(--color-3);
}

.largerCheckbox {
    width: 18px;
    height: 18px;
}

.default-text-color {
    color: var(--color-4);
}

.output-container {
    background-color: var(--color-2);
}

.enabled-toggle-btn {
    border-color: var(--color-3);
    color: var(--color-3);
}
