@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --body-bg: #222831;
    --input-bg: #31363f;
    --text-color: #eeeeee;
    --border-color: #76abae;
}

body {
    background-color: var(--body-bg);
}

textarea {
    background-color: var(--input-bg);
    color: var(--text-color);
}
textarea:focus {
    outline-color: var(--border-color);
}

.title-heading {
    color: var(--text-color);
}

.largerCheckbox {
    width: 18px;
    height: 18px;
}

.default-text-color {
    color: var(--text-color);
}

.output-container {
    background-color: var(--input-bg);
}
